<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.community.manage.mapper.ParkingDetailMapper">
  <resultMap id="BaseResultMap" type="com.community.manage.domain.entity.ParkingDetail">

    <id column="detail_id" jdbcType="INTEGER" property="detailId" />
    <result column="detail_car_num" jdbcType="VARCHAR" property="detailCarNum" />
    <result column="detail_img" jdbcType="VARCHAR" property="detailImg" />
    <result column="detail_user" jdbcType="VARCHAR" property="detailUser" />
    <result column="detail_phone" jdbcType="VARCHAR" property="detailPhone" />
    <result column="detail_nature" jdbcType="INTEGER" property="detailNature" />
    <result column="detail_price" jdbcType="DECIMAL" property="detailPrice" />
    <result column="detail_begin" jdbcType="DATE" property="detailBegin" />
    <result column="detail_create_time" jdbcType="TIMESTAMP" property="detailCreateTime" />
    <result column="detail_is_del" jdbcType="INTEGER" property="detailIsDel" />
    <result column="local_id" jdbcType="INTEGER" property="localId" />
    <result column="detail_out" jdbcType="DATE" property="detailOut" />
  </resultMap>


  <insert id="insertSelective" keyColumn="detail_id" keyProperty="detailId" parameterType="com.community.manage.domain.entity.ParkingDetail" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into tb_parking_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="detailCarNum != null">
        detail_car_num,
      </if>
      <if test="detailImg != null">
        detail_img,
      </if>
      <if test="detailUser != null">
        detail_user,
      </if>
      <if test="detailPhone != null">
        detail_phone,
      </if>
      <if test="detailNature != null">
        detail_nature,
      </if>
      <if test="detailPrice != null">
        detail_price,
      </if>
      <if test="detailBegin != null">
        detail_begin,
      </if>
      <if test="detailCreateTime != null">
        detail_create_time,
      </if>
      <if test="detailIsDel != null">
        detail_is_del,
      </if>
      <if test="localId != null">
        local_id,
      </if>
      <if test="detailOut != null">
        detail_out,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="detailCarNum != null">
        #{detailCarNum,jdbcType=VARCHAR},
      </if>
      <if test="detailImg != null">
        #{detailImg,jdbcType=VARCHAR},
      </if>
      <if test="detailUser != null">
        #{detailUser,jdbcType=VARCHAR},
      </if>
      <if test="detailPhone != null">
        #{detailPhone,jdbcType=VARCHAR},
      </if>
      <if test="detailNature != null">
        #{detailNature,jdbcType=INTEGER},
      </if>
      <if test="detailPrice != null">
        #{detailPrice,jdbcType=DECIMAL},
      </if>
      <if test="detailBegin != null">
        #{detailBegin,jdbcType=DATE},
      </if>
      <if test="detailCreateTime != null">
        #{detailCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="detailIsDel != null">
        #{detailIsDel,jdbcType=INTEGER},
      </if>
      <if test="localId != null">
        #{localId,jdbcType=INTEGER},
      </if>
      <if test="detailOut != null">
        #{detailOut,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="deleteByPrimaryKey"></update>
  <insert id="insert"></insert>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap"></select>
  <update id="updateByPrimaryKeySelective"></update>
  <update id="updateByPrimaryKey"></update>

</mapper>