<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.community.manage.mapper.TbMangeWarrantyMapper">
  <resultMap id="BaseResultMap" type="com.community.manage.domain.entity.TbMangeWarranty">

    <id column="warranty_id" jdbcType="INTEGER" property="warrantyId" />
    <result column="community_id" jdbcType="INTEGER" property="communityId" />
    <result column="warranty_use" jdbcType="VARCHAR" property="warrantyUse" />
    <result column="warranty_equipment" jdbcType="VARCHAR" property="warrantyEquipment" />
    <result column="warranty_describe" jdbcType="VARCHAR" property="warrantyDescribe" />
    <result column="warranty_create_time" jdbcType="TIMESTAMP" property="warrantyCreateTime" />
    <result column="warranty_status" jdbcType="INTEGER" property="warrantyStatus" />
    <result column="warranty_is_del" jdbcType="INTEGER" property="warrantyIsDel" />
  </resultMap>

    <select id="selectByCondition" resultMap="BaseResultMap">
      SELECT w.warranty_id, community_id, warranty_use, warranty_equipment, warranty_describe, warranty_create_time, warranty_status
      FROM tb_mange_warranty w
      <trim prefix="where" prefixOverrides="and">
        <if test="keyword != null and keyword != ''">
          and warranty_use like concat('%',#{keyword} ,'%') or warranty_equipment like concat('%',#{keyword} ,'%')
        </if>

        <if test="begin != null and begin != '' and end != null and end != ''">
          and warranty_create_time between concat(#{begin},' 00:00:00') and concat(#{end},' 23:59:59')
        </if>
        and warranty_is_del = 1
      </trim>

      limit #{limit},#{offset}

    </select>
  <insert id="insertMangeWarranty">
    insert into  tb_mange_warranty
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mangeWarranty.communityId != null ">
        community_id,
      </if>
      <if test="mangeWarranty.warrantyUse != null">
        warranty_use,
      </if>
      <if test="mangeWarranty.warrantyEquipment != null ">
        warranty_equipment,
      </if>

      <if test="mangeWarranty.warrantyDescribe != null ">
        warranty_describe,
      </if>

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mangeWarranty.communityId != null">
        #{mangeWarranty.communityId},
      </if>
      <if test="mangeWarranty.warrantyUse != null ">
        #{mangeWarranty.warrantyUse},
      </if>
      <if test="mangeWarranty.warrantyEquipment != null">
        #{mangeWarranty.warrantyEquipment},
      </if>
      <if test="mangeWarranty.warrantyDescribe != null">
        #{mangeWarranty.warrantyDescribe },
      </if>
    </trim>
  </insert>
  <update id="updateAll">
    update tb_mange_warranty w
    <set>
      <trim suffixOverrides=",">
        <if test="mangeWarranty.communityId != null ">
          community_id=#{mangeWarranty.communityId},
        </if>
        <if test="mangeWarranty.warrantyUse != null">
          warranty_use=#{mangeWarranty.warrantyUse},
        </if>
        <if test="mangeWarranty.warrantyEquipment != null ">
          warranty_equipment=#{mangeWarranty.warrantyEquipment},
        </if>

        <if test="mangeWarranty.warrantyDescribe != null ">
          warranty_describe=#{mangeWarranty.warrantyDescribe},
        </if>

        <if test=" mangeWarranty.warrantyStatus != null ">
          warranty_status=#{mangeWarranty.warrantyStatus},
        </if>



      </trim>
    </set>
    where warranty_id =#{mangeWarranty.warrantyId}
  </update>
  <update id="delById">
    update tb_mange_warranty w
    set warranty_is_del = 0
    where w.warranty_id=#{warrantyId}
  </update>
</mapper>