<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.community.manage.mapper.TbMangeWarrantyMapper">
  <resultMap id="BaseResultMap" type="com.community.manage.domain.entity.TbMangeWarranty">
    <!--@mbg.generated-->
    <!--@Table tb_mange_warranty-->
    <id column="warranty_id" jdbcType="INTEGER" property="warrantyId" />
    <result column="community_id" jdbcType="INTEGER" property="communityId" />
    <result column="warranty_use" jdbcType="VARCHAR" property="warrantyUse" />
    <result column="warranty_equipment" jdbcType="VARCHAR" property="warrantyEquipment" />
    <result column="warranty_describe" jdbcType="VARCHAR" property="warrantyDescribe" />
    <result column="warranty_create_time" jdbcType="TIMESTAMP" property="warrantyCreateTime" />
    <result column="warranty_status" jdbcType="INTEGER" property="warrantyStatus" />
    <result column="warranty_is_del" jdbcType="INTEGER" property="warrantyIsDel" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    warranty_id, community_id, warranty_use, warranty_equipment, warranty_describe, warranty_create_time, 
    warranty_status, warranty_is_del
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from tb_mange_warranty
    where warranty_id = #{warrantyId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from tb_mange_warranty
    where warranty_id = #{warrantyId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="warranty_id" keyProperty="warrantyId" parameterType="com.community.manage.domain.entity.TbMangeWarranty" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into tb_mange_warranty (community_id, warranty_use, warranty_equipment, 
      warranty_describe, warranty_create_time, 
      warranty_status, warranty_is_del)
    values (#{communityId,jdbcType=INTEGER}, #{warrantyUse,jdbcType=VARCHAR}, #{warrantyEquipment,jdbcType=VARCHAR}, 
      #{warrantyDescribe,jdbcType=VARCHAR}, #{warrantyCreateTime,jdbcType=TIMESTAMP}, 
      #{warrantyStatus,jdbcType=INTEGER}, #{warrantyIsDel,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="warranty_id" keyProperty="warrantyId" parameterType="com.community.manage.domain.entity.TbMangeWarranty" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into tb_mange_warranty
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="communityId != null">
        community_id,
      </if>
      <if test="warrantyUse != null">
        warranty_use,
      </if>
      <if test="warrantyEquipment != null">
        warranty_equipment,
      </if>
      <if test="warrantyDescribe != null">
        warranty_describe,
      </if>
      <if test="warrantyCreateTime != null">
        warranty_create_time,
      </if>
      <if test="warrantyStatus != null">
        warranty_status,
      </if>
      <if test="warrantyIsDel != null">
        warranty_is_del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="communityId != null">
        #{communityId,jdbcType=INTEGER},
      </if>
      <if test="warrantyUse != null">
        #{warrantyUse,jdbcType=VARCHAR},
      </if>
      <if test="warrantyEquipment != null">
        #{warrantyEquipment,jdbcType=VARCHAR},
      </if>
      <if test="warrantyDescribe != null">
        #{warrantyDescribe,jdbcType=VARCHAR},
      </if>
      <if test="warrantyCreateTime != null">
        #{warrantyCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="warrantyStatus != null">
        #{warrantyStatus,jdbcType=INTEGER},
      </if>
      <if test="warrantyIsDel != null">
        #{warrantyIsDel,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.community.manage.domain.entity.TbMangeWarranty">
    <!--@mbg.generated-->
    update tb_mange_warranty
    <set>
      <if test="communityId != null">
        community_id = #{communityId,jdbcType=INTEGER},
      </if>
      <if test="warrantyUse != null">
        warranty_use = #{warrantyUse,jdbcType=VARCHAR},
      </if>
      <if test="warrantyEquipment != null">
        warranty_equipment = #{warrantyEquipment,jdbcType=VARCHAR},
      </if>
      <if test="warrantyDescribe != null">
        warranty_describe = #{warrantyDescribe,jdbcType=VARCHAR},
      </if>
      <if test="warrantyCreateTime != null">
        warranty_create_time = #{warrantyCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="warrantyStatus != null">
        warranty_status = #{warrantyStatus,jdbcType=INTEGER},
      </if>
      <if test="warrantyIsDel != null">
        warranty_is_del = #{warrantyIsDel,jdbcType=INTEGER},
      </if>
    </set>
    where warranty_id = #{warrantyId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.community.manage.domain.entity.TbMangeWarranty">
    <!--@mbg.generated-->
    update tb_mange_warranty
    set community_id = #{communityId,jdbcType=INTEGER},
      warranty_use = #{warrantyUse,jdbcType=VARCHAR},
      warranty_equipment = #{warrantyEquipment,jdbcType=VARCHAR},
      warranty_describe = #{warrantyDescribe,jdbcType=VARCHAR},
      warranty_create_time = #{warrantyCreateTime,jdbcType=TIMESTAMP},
      warranty_status = #{warrantyStatus,jdbcType=INTEGER},
      warranty_is_del = #{warrantyIsDel,jdbcType=INTEGER}
    where warranty_id = #{warrantyId,jdbcType=INTEGER}
  </update>
</mapper>