<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.community.manage.mapper.TbParkingDetailMapper">
  <resultMap id="BaseResultMap" type="com.community.manage.domain.entity.TbParkingDetail">
    <!--@mbg.generated-->
    <!--@Table tb_parking_detail-->
    <id column="detail_id" jdbcType="INTEGER" property="detailId" />
    <result column="community_id" jdbcType="INTEGER" property="communityId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="detail_car_num" jdbcType="VARCHAR" property="detailCarNum" />
    <result column="detail_img" jdbcType="VARCHAR" property="detailImg" />
    <result column="detail_user" jdbcType="VARCHAR" property="detailUser" />
    <result column="detail_phone" jdbcType="VARCHAR" property="detailPhone" />
    <result column="detail_nature" jdbcType="INTEGER" property="detailNature" />
    <result column="detail_price" jdbcType="DECIMAL" property="detailPrice" />
    <result column="detail_begin" jdbcType="DATE" property="detailBegin" />
    <result column="detail_out" jdbcType="DATE" property="detailOut" />
    <result column="detail_create_time" jdbcType="TIMESTAMP" property="detailCreateTime" />
    <result column="detail_is_del" jdbcType="INTEGER" property="detailIsDel" />
  </resultMap>


  <select id="selectByCondition" resultMap="BaseResultMap">
    SELECT detail_id, community_id, user_id, detail_car_num, detail_img, detail_user, detail_phone, detail_nature, detail_price, detail_begin, detail_out, detail_create_time
    FROM tb_parking_detail
    <trim prefix="where" prefixOverrides="and">
      <if test="keyword != null and keyword != ''">
        and detail_phone like concat('%',#{keyword} ,'%') or detail_car_num like concat('%',#{keyword} ,'%')
        or detail_user like concat('%',#{keyword} ,'%')
      </if>

      <if test="begin != null and begin != '' and end != null and end != ''">
        and detail_create_time between concat(#{begin},' 00:00:00') and concat(#{end},' 23:59:59')
      </if>
      and detail_is_del = 1
    </trim>
    limit #{limit},#{offset}
  </select>
  <insert id="insertParkingDetail">
    insert into  tb_parking_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="detail.communityId != null ">
        community_id,
      </if>
      <if test="detail.userId != null">
        user_id,
      </if>
      <if test="detail.detailCarNum != null ">
        detail_car_num,
      </if>

      <if test="detail.detailImg != null and detail.detailImg != ''">
        detail_img,
      </if>

      <if test="detail.detailUser != null">
        detail_user,
      </if>
      <if test="detail.detailNature != null">
        detail_nature,
      </if>
      <if test="detail.detailPhone != null">
        detail_phone,
      </if>
      <if test="detail.detailPrice !=null ">
        detail_price,
      </if>
      <if test="detail.detailBegin !=null ">
        detail_begin,
      </if>
      <if test="detail.detailOut !=null ">
        detail_out,
      </if>

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="detail.communityId != null">
        #{detail.communityId},
      </if>
      <if test="detail.userId != null">
        #{detail.userId},
      </if>
      <if test="detail.detailCarNum != null">
        #{detail.detailCarNum},
      </if>
      <if test="detail.detailImg != null">
        #{detail.detailImg},
      </if>
      <if test="detail.detailUser != null">
        #{detail.detailUser},
      </if>
      <if test="detail.detailNature != null">
        #{detail.detailNature},
      </if>
      <if test="detail.detailPhone != null">
        #{detail.detailPhone},
      </if>
      <if test="detail.detailPrice != null">
        #{detail.detailPrice},
      </if>
      <if test="detail.detailBegin  != null">
        #{detail.detailBegin },
      </if>
      <if test="detail.detailOut  != null">
        #{detail.detailOut },
      </if>
    </trim>
  </insert>
  <update id="updateAll">
    update tb_parking_detail d
    <set>
      <trim suffixOverrides=",">
      <if test="detail.communityId != null ">
        community_id=#{detail.communityId},
      </if>
      <if test="detail.userId != null">
        user_id=#{detail.userId},
      </if>
      <if test="detail.detailCarNum != null ">
        detail_car_num=#{detail.detailCarNum},
      </if>

      <if test="detail.detailImg != null and detail.detailImg != ''">
        detail_img=#{detail.detailImg},
      </if>

      <if test="detail.detailUser != null">
        detail_user=#{detail.detailUser},
      </if>
      <if test="detail.detailNature != null">
        detail_nature=#{detail.detailNature},
      </if>
      <if test="detail.detailPhone != null">
        detail_phone=#{detail.detailPhone},
      </if>
      <if test="detail.detailPrice !=null ">
        detail_price=#{detail.detailPrice},
      </if>
      <if test="detail.detailBegin !=null ">
        detail_begin=#{detail.detailBegin},
      </if>
      <if test="detail.detailOut !=null ">
        detail_out =#{detail.detailOut},
      </if>
    </trim>
    </set>
    where detail_id =#{detail.detailId}
  </update>

  <update id="delById">
    update tb_parking_detail d
    set detail_is_del = 0
    where d.detail_id=#{detailId}
  </update>

</mapper>